.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
  align-items: center;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  margin: 0;
  position: relative;
  left: 64px;
  max-width: 730px;
  width: 100%;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  max-width: 388px;
  width: 100%;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../images/header-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  z-index: 1;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.description {
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  max-width: 175px;
  width: 100%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.digits {
  padding-bottom: 100px;
}

.section-title {
  display:flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.section-subtitle {
  display:flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  width: 100%;
  min-height: 890px;
  align-items: center;
  background-color: #f2f2f2;
  }

.feynman__title {
  margin: 0;
  margin-top: 100px;
  max-width: 648px;
  width: 100%;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  z-index: 1;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.kaufman {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: -2;
  padding: 90px 0;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  color: #f2f2f2;
}

.section-subtitle_theme_dark {
  color: #f2f2f2;
}

.table_theme_dark {
  color: #f2f2f2;
}

/* ниже ячейка меняет не только цвет, но и свою ширину с отступом по брифу */
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  color: #f2f2f2;
}

.table__heading_theme_dark {
  color: #f2f2f2;
}

.table__text_theme_dark {
  color: #f2f2f2;
}

.kaufman__img {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 0;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #f2f2f2;
}

.footer__column {
  flex-direction: column;
}

.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
  flex-grow: unset;
  list-style: none;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 0;
  position: absolute;
  margin-top: 10px;
  bottom: 10px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
}

.footer__column-heading {
  margin: 0;
  line-height:30px;
  font-size:18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  line-height:30px;
  font-size:18px;
  justify-content: flex-start;
  list-style: none;
}

.footer__column-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f2f2f2;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
